<a href="/" class="relative z-30 flex items-center h-20">
  <!-- Light Mode Logo -->
  <img
    src="/assets/images/logo-light.png"
    alt="Logo claro"
    class="block dark:hidden h-full object-contain"
  />
  <!-- Dark Mode -->
  <img
    src="/assets/images/logo-dark.png"
    alt="Logo oscuro"
    class="hidden dark:block h-full object-contain"
  />
</a>

